ckpt*/
ffcv/
imgenet1k_train_emb.npy
__pycache__/
imagenet/
retrieval/CSR_topk_*/
retrieval/pretrained_emb/
data_imagenet_ffcv/.gitattributes
data_imagenet_ffcv/train_*
data_imagenet_ffcv/val_*
pretrained_embed/
pretrained_backbone